<h1>Articles</h1>

<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :search, "J'aimerais savoir:" %>
  <%= form.search_field :query %>
  <%= form.submit "Recherche" %>
<% end %>

<ul>
    <% @articles.each do |article| %>
        <li><%= article.title %></li>
    <% end %>
</ul>
