<h1>Gares</h1>

<div class="container">
    <%= form_with url: "/", method: :get do |form| %>
    <%= form.label :search, "J'aimerais voir:" %>
    <%= form.search_field :query %>
    <%= form.submit "Recherche", class: "button" %>
    <% end %>
</div>

<div class="container">
    <div class="flex-container">
        <% @train_stations.each do |train_station| %>
            <div class="card">
                <div class="card-image" style="background-image: url('<%= train_station.image_url %>')"></div>
                <div class="card-content">
                    <p><%= train_station.name %></p>
                </div>
            </div>
        <% end %>
    </div>
</div>